* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.top {
    position: absolute;
    top: 20px;
}

.menu ul {
    padding: 10px;
    margin: 0px;
    list-style: none;
    width: 100%;
    height: 20px;
    background-color: slategrey;
    border-radius: 20px;
}

.menu ul li {
    margin-left: 15px;
    display: inline;
    /* Faz com que fique na horizontal*/
}

.menu ul li a {
    padding: 4px 5px;
    display: inline-block;
    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* Tira a barra do link */
}

.menu ul li a:hover {
    text-align: center;
    border-radius: 10px;
    color: #000000;
    /*border-bottom: 3px solid #EA0000; Barra em baixo das opçoes de menu*/
}

.sobre {
    position: relative;
    margin-top: 30px;
    width: 80vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.caixa {
    position: relative;
    top: 30px;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #000;
}

.minhafoto {
    position: relative;
    top: 10px;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    box-shadow: 0px 5px 20px rgb(22, 1, 1);
}

h1 {
    font-size: 20px;
}

.caixa p {
    font-weight: bold;
    color: rgb(104, 104, 104);
}

.card {
    top: 60px;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px 15px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.945);
    transition: 0.3s ease-in-out;
}

.card:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0.336));
}

.card span {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paradaGay:hover {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.541), rgb(255, 165, 0.541), rgb(255, 255, 0.541), rgba(0, 128, 0, 0.397), rgba(0, 0, 255, 0.329), rgba(76, 0, 130, 0.301), rgba(238, 130, 238, 0.349));
}

.filmes:hover {
    background-image: linear-gradient(to right, #ff00cc59, #3333996c)
}

.card .imgBx {
    position: relative;
    width: 260px;
    height: 200px;
    top: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.479);
    transition: 0.3s ease-in-out;
}

.card:hover .imgBx {
    top: -42px;
    max-height: 400px;
}

.card .imgBx img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

.card .content {
    position: relative;
    margin-top: -130px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    opacity: 1;
    transition: 0.3s;
    margin-top: -50px;
    visibility: visible;
    background-color: rgba(46, 46, 46, 0.13);
}


/*
#checkbox-menu {
position: absolute;
opacity: 0;
}

label {
cursor: pointer;
position: relative;
display: block;
height: 22px;
width: 30px;
}

label span {
position: absolute;
width: 100%;
height: 5px;
border-radius: 30px;
background-color: #f16345;
transition: 0.25s ease-in-out;
}


Span filhos

label span:nth-child(1) {
top: 0;
}

label span:nth-child(2) {
top: 8px;
}

label span:nth-child(3) {
top: 16px;
}


Quando estiver chegado meu proximo elemento chamado label e seus filhos receberam 

#checkbox-menu:checked+label span:nth-child(1) {
transform: rotate(-45deg);
top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
transform: rotate(45deg);
top: 8px;
}
*/

div.contato {
    width: 400px;
    height: 450px;
}

.formulario {
    position: relative;
    top: 60px;
    width: 400px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
}

input {
    width: 250px;
    height: 25px;
}

input,
textarea {
    border-radius: 10px;
    color: #000000;
}

fieldset {
    border: none;
    line-height: 2;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

input.enviar {
    background-color: rgb(117, 187, 204);
    color: white;
    border: none;
    width: 70px;
    height: 25px;
    cursor: pointer;
}

input.apagar {
    background-color: rgb(135, 136, 135);
    color: white;
    border: none;
    width: 70px;
    height: 25px;
    cursor: pointer;
}


/* Telefones em paisagem e abaixo */

@media (max-width: 480px) {
    /* estilos aqui */
    body {
        margin-left: 20%;
    }
    div.caixa {
        top: 40px;
        background-color: rgba(0, 0, 255, 0.637);
        width: 70vw;
        height: 70vh;
    }
    img.minhafoto {
        width: 35vw;
        height: 35vh;
    }
    .caixa p,
    h1,
    h3 {
        color: #ffffff;
        text-shadow: 1px 1px 10px;
    }
    div.contato {
        position: relative;
        top: -10px;
        height: 85vh;
    }
    .formulario {
        margin-left: 5%;
        height: 80vh;
        width: 95vw;
    }
    input.enviar,
    input.apagar {
        position: relative;
        top: 5px;
        width: 100px;
        height: 40px;
    }
    textarea {
        width: 60vw;
    }
}


/* Telefones em paisagem a tablet em retrato */

@media (min-width: 481px) and (max-width: 767px) {
    /* estilos aqui */
    div.caixa {
        margin-top: 15px;
        background-color: rgba(255, 0, 0, 0.815);
        width: 80vw;
        height: 70vh;
    }
    .caixa p,
    h1,
    h3 {
        color: #ffffff;
        text-shadow: 1px 1px 10px;
    }
    img.minhafoto {
        width: 45vw;
        height: 45vh;
    }
    div.contato {
        position: relative;
        top: -10px;
        height: 85vh;
    }
    .formulario {
        height: 75vh;
    }
    input.enviar,
    input.apagar {
        position: relative;
        top: 5px;
        width: 90px;
        height: 30px;
    }
}


/* Tablet em retrato a paisagem e desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
    div.caixa {
        background-color: rgba(0, 217, 255, 0.219);
    }
    .caixa p,
    h1,
    h3 {
        color: #000000;
        text-shadow: 1px 1px 10px;
    }
    div.contato {
        position: relative;
        top: -10px;
        height: 80vh;
    }
    .formulario {
        height: 70vh;
    }
    input.enviar,
    input.apagar {
        position: relative;
        top: 5px;
        width: 100px;
        height: 40px;
    }
}


/* Desktop grande */

@media (min-width: 980px) and (max-width: 1200px) {
    /* estilos aqui */
    div.caixa {
        background-color: rgb(129, 127, 127);
    }
    .caixa p,
    h1,
    h3 {
        color: #ffffff;
        text-shadow: 1px 1px 10px;
    }
}